<!-- start catalog/home/banner-bottom-right-1.hbs -->
<picture>
  <source srcset="{{@root.meta.assetsPath}}img/blue-bg_large-4to3-393edb3f747907fabbed798d18e0c16f.png" media="(min-width: 1200px)">
  <source srcset="{{@root.meta.assetsPath}}img/blue-bg_medium-4to3-3bc9737b5e6e9ba633a35a255aa250b5.png" media="(min-width: 768px)">
  <img src="{{@root.meta.assetsPath}}img/blue-bg_small-4to3-4f423f2f16577c1f33646b62571bcab9.png" class="img-responsive" alt="Banner image">
</picture>

<div class="banner-text">
  <img src="{{@root.meta.assetsPath}}img/sun-logo-3cf082e731ad999f451865f950f20e60.png" alt="Sunrise logo" />
  <h4 class="banner-title">{{i18n "home:bannerThree.second.title"}}</h4>
</div>
<!-- end catalog/home/banner-bottom-right-1.hbs -->
